[submodule "vendor/lua-language-server"]
	path = vendor/lua-language-server
	url = https://github.com/LuaLS/lua-language-server.git
[submodule "vendor/cfxlua-vscode"]
	path = vendor/cfxlua-vscode
	url = https://github.com/overextended/cfxlua-vscode.git
[submodule "vendor/icecon"]
	path = vendor/icecon
	url = https://github.com/icedream/icecon.git
